USE [invoices_documentIntelligence]
GO
/****** Object:  Table [dbo].[AuditEvents]    Script Date: 11/01/2026 14:46:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditEvents](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EventType] [nvarchar](50) NULL,
	[EntityId] [int] NULL,
	[Timestamp] [datetime] NULL,
	[EventData] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[invoices]    Script Date: 11/01/2026 14:46:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[invoices](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[type_id] [int] NULL,
	[provider_id] [int] NULL,
	[path_storage] [nvarchar](500) NOT NULL,
	[active] [int] NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[name_invoice] [nvarchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[invoices_details]    Script Date: 11/01/2026 14:46:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[invoices_details](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_invoice] [int] NOT NULL,
	[billed_month] [nvarchar](150) NOT NULL,
	[issue_date] [nvarchar](150) NOT NULL,
	[expiration_date] [nvarchar](150) NOT NULL,
	[last_payment] [nvarchar](150) NOT NULL,
	[suspension_date] [nvarchar](150) NOT NULL,
	[total_overdue_debt] [varchar](100) NULL,
	[total_invoices_month] [varchar](100) NULL,
	[active] [int] NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[number_contract] [varchar](255) NOT NULL,
	[proveedor_id] [int] NULL,
	[cupon_pago] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[provider]    Script Date: 11/01/2026 14:46:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[provider](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](150) NOT NULL,
	[nit] [bigint] NOT NULL,
	[email] [nvarchar](150) NOT NULL,
	[address] [nvarchar](150) NOT NULL,
	[number] [bigint] NOT NULL,
	[website] [nvarchar](250) NULL,
	[active] [int] NOT NULL,
	[created_at] [datetime] NULL,
	[update_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [facturas].[type_invoices]    Script Date: 11/01/2026 14:46:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [facturas].[type_invoices](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](150) NOT NULL,
	[active] [int] NOT NULL,
	[created_at] [datetime] NULL,
	[update_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AuditEvents] ADD  DEFAULT (getdate()) FOR [Timestamp]
GO
ALTER TABLE [dbo].[invoices] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[invoices] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[invoices] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[invoices] ADD  DEFAULT ('SIN NOMBRE') FOR [name_invoice]
GO
ALTER TABLE [dbo].[invoices_details] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[invoices_details] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[invoices_details] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[provider] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[provider] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[provider] ADD  DEFAULT (getdate()) FOR [update_at]
GO
ALTER TABLE [facturas].[type_invoices] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [facturas].[type_invoices] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [facturas].[type_invoices] ADD  DEFAULT (getdate()) FOR [update_at]
GO
